<!DOCTYPE html>
<html lang="en">
<head>x
    <title>Face Attendance Management System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="icon" href="/static/images/label.svg">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/script.js"></script>
    -->
</head>
<body>
<nav class="navbar navbar-expand-sm bg-info navbar-dark fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img src="/static/images/key-person.png" alt="icon" style="height:35px;width:40px;">
                    Face Recognition Based Attendance System
                </a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-brand" id="nav-brand"><span>
                    Made with <span style="color: #e25555;">&#9829;</span> by Amlan Mohanty </span>
                </li>
                <li class="navbar-brand"><span id='login_info'>
                    </span>
                </li>
            </ul>
        </div>
    </nav>
    <div class='container-fluid' id="cont">
        <div class='bg-light card' id="cont2">
            <br>
            <h3> Login Here !!</h3>
            <input type='text' id='username' placeholder="username" style="padding:5px 0px;margin:5px 0px;"> <br>

            <input type='password' id='password' placeholder='password' style="padding:5px 0px;margin:5px 0px;"><br>
            <input type='submit' id='lgn_btn' onclick="login()"> <br>


        </div>
    </div>

</body>
</html>